In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2019, 5, 26, 21, 19, 41, 699174)

In [4]:
now.year, now.month, now.day

(2019, 5, 26)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011, 1, 7)

In [11]:
 start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
value = '2011-01-03'

In [17]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
 datestrs = ['7/6/2011', '8/6/2011']

In [19]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [20]:
from dateutil.parser import parse

In [21]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [22]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [23]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [24]:
 datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [26]:
import pandas as pd

In [27]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [28]:
idx = pd.to_datetime(datestrs + [None])

In [29]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [30]:
idx[2]

NaT

In [31]:
pd.isnull(idx)

array([False, False,  True])

In [32]:
from datetime import datetime

In [35]:
import numpy as np

In [37]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
....: datetime(2011, 1, 7), datetime(2011, 1, 8),
....: datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)

In [38]:
ts = pd.Series(np.random.randn(6), index=dates)

In [39]:
ts

2011-01-02    1.305896
2011-01-05    0.621679
2011-01-07   -1.121201
2011-01-08   -0.075725
2011-01-10    0.501779
2011-01-12    0.744182
dtype: float64

In [40]:
 ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [41]:
ts + ts[::2]

2011-01-02    2.611792
2011-01-05         NaN
2011-01-07   -2.242402
2011-01-08         NaN
2011-01-10    1.003557
2011-01-12         NaN
dtype: float64

In [42]:
ts.index.dtype

dtype('<M8[ns]')

In [43]:
stamp = ts.index[0]

In [44]:
stamp

Timestamp('2011-01-02 00:00:00')

In [45]:
stamp = ts.index[2]

In [46]:
ts[stamp]

-1.121200750681937

In [47]:
ts[stamp]

-1.121200750681937

In [48]:
ts['20110110']

0.5017785758153716

In [49]:
longer_ts = pd.Series(np.random.randn(1000),
index=pd.date_range('1/1/2000', periods=1000))

In [50]:
longer_ts

2000-01-01   -0.659221
2000-01-02    0.355106
2000-01-03   -1.611602
2000-01-04    0.896743
2000-01-05    1.428346
2000-01-06    1.575653
2000-01-07    1.699170
2000-01-08   -0.669253
2000-01-09   -0.854162
2000-01-10    2.032221
2000-01-11   -0.311202
2000-01-12    0.078687
2000-01-13   -0.450481
2000-01-14   -0.101251
2000-01-15   -0.171036
2000-01-16   -2.848551
2000-01-17   -0.033198
2000-01-18    0.371125
2000-01-19   -0.840622
2000-01-20    0.921303
2000-01-21   -0.168142
2000-01-22    0.379346
2000-01-23    0.134467
2000-01-24    1.788976
2000-01-25    1.875547
2000-01-26   -0.404332
2000-01-27   -2.173349
2000-01-28   -0.522283
2000-01-29    0.222416
2000-01-30   -0.850447
                ...
2002-08-28    0.726233
2002-08-29   -0.716074
2002-08-30    0.122563
2002-08-31   -0.211149
2002-09-01   -0.436698
2002-09-02    0.725223
2002-09-03   -0.923951
2002-09-04    1.342131
2002-09-05   -2.114809
2002-09-06    0.302015
2002-09-07    1.207959
2002-09-08    0.432076
2002-09-09   -0.627744
2002-09-10   -0.419484
2002-09-11   -0.541070
2002-09-12    1.875579
2002-09-13   -0.505111
2002-09-14    0.147766
2002-09-15    0.435220
2002-09-16   -0.876178
2002-09-17   -0.443958
2002-09-18   -0.866323
2002-09-19   -2.394890
2002-09-20   -0.579921
2002-09-21   -1.707329
2002-09-22   -0.658690
2002-09-23    1.119545
2002-09-24   -0.415106
2002-09-25    0.944120
2002-09-26   -0.423336
Freq: D, Length: 1000, dtype: float64

In [51]:
longer_ts['2001']

2001-01-01    0.179978
2001-01-02   -0.468925
2001-01-03    1.080968
2001-01-04    1.177811
2001-01-05    1.134949
2001-01-06   -0.339681
2001-01-07   -3.036764
2001-01-08    0.372514
2001-01-09    1.184809
2001-01-10   -0.489896
2001-01-11    0.103534
2001-01-12    0.492528
2001-01-13    1.829270
2001-01-14    0.242486
2001-01-15    0.496238
2001-01-16   -0.111284
2001-01-17   -0.164572
2001-01-18   -1.097003
2001-01-19   -0.155254
2001-01-20   -1.116766
2001-01-21   -0.727179
2001-01-22    0.249973
2001-01-23    0.328983
2001-01-24   -0.055679
2001-01-25    0.148226
2001-01-26   -1.212486
2001-01-27    0.140909
2001-01-28    0.477458
2001-01-29   -0.072800
2001-01-30    0.000754
                ...
2001-12-02    1.135743
2001-12-03   -0.360884
2001-12-04   -0.875670
2001-12-05   -0.709858
2001-12-06   -1.168410
2001-12-07   -0.302466
2001-12-08   -1.741546
2001-12-09   -1.358854
2001-12-10    0.864976
2001-12-11   -0.499310
2001-12-12   -2.383676
2001-12-13   -0.089457
2001-12-14   -0.688135
2001-12-15   -0.797798
2001-12-16   -0.435133
2001-12-17   -0.759910
2001-12-18   -0.616279
2001-12-19    0.196883
2001-12-20    1.564460
2001-12-21   -0.082763
2001-12-22   -0.814218
2001-12-23   -1.152788
2001-12-24   -0.499643
2001-12-25    0.330211
2001-12-26    1.427597
2001-12-27    0.909773
2001-12-28   -0.640671
2001-12-29   -0.958716
2001-12-30    0.132318
2001-12-31   -0.160466
Freq: D, Length: 365, dtype: float64

In [52]:
longer_ts['2001-05']

2001-05-01    0.311656
2001-05-02   -0.835790
2001-05-03    1.266883
2001-05-04    0.603690
2001-05-05    0.611347
2001-05-06   -0.170559
2001-05-07    1.489109
2001-05-08   -0.014977
2001-05-09    0.355879
2001-05-10    0.681851
2001-05-11    0.807863
2001-05-12    2.584586
2001-05-13   -0.989930
2001-05-14    1.342058
2001-05-15    0.075845
2001-05-16    2.473196
2001-05-17   -1.223898
2001-05-18   -0.144894
2001-05-19   -0.338383
2001-05-20   -1.300674
2001-05-21    0.591531
2001-05-22    2.537281
2001-05-23   -1.168426
2001-05-24    0.370191
2001-05-25   -0.414177
2001-05-26   -1.712879
2001-05-27    2.639979
2001-05-28    0.526802
2001-05-29   -1.509015
2001-05-30    1.279692
2001-05-31    0.520412
Freq: D, dtype: float64

In [53]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.121201
2011-01-08   -0.075725
2011-01-10    0.501779
2011-01-12    0.744182
dtype: float64

In [54]:
ts

2011-01-02    1.305896
2011-01-05    0.621679
2011-01-07   -1.121201
2011-01-08   -0.075725
2011-01-10    0.501779
2011-01-12    0.744182
dtype: float64

In [55]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.121201
2011-01-08   -0.075725
2011-01-10    0.501779
dtype: float64

In [56]:
ts.truncate(after='1/9/2011')

2011-01-02    1.305896
2011-01-05    0.621679
2011-01-07   -1.121201
2011-01-08   -0.075725
dtype: float64

In [57]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [58]:
long_df = pd.DataFrame(np.random.randn(100, 4),
index=dates,
columns=['Colorado', 'Texas',
'New York', 'Ohio'])

In [59]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.640615  0.163155 -0.468135  0.184072
2001-05-09  0.745443 -1.170358 -0.064053 -1.186164
2001-05-16  0.158266 -1.756986  0.710281  1.349182
2001-05-23 -0.780489 -0.706254 -0.959410  1.331979
2001-05-30  0.905792 -1.054765  2.351506 -1.583668

In [60]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
 '1/2/2000', '1/3/2000'])

In [61]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [62]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [63]:
dup_ts.index.is_unique

False

In [64]:
dup_ts['1/3/2000'] # not duplicated

4

In [65]:
dup_ts['1/2/2000'] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [66]:
grouped = dup_ts.groupby(level=0)

In [67]:
 grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [68]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [69]:
ts

2011-01-02    1.305896
2011-01-05    0.621679
2011-01-07   -1.121201
2011-01-08   -0.075725
2011-01-10    0.501779
2011-01-12    0.744182
dtype: float64

In [70]:
resampler = ts.resample('D')

In [71]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [72]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [76]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [77]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [78]:
from pandas.tseries.offsets import Hour, Minute

In [79]:
hour = Hour()

In [80]:
hour

In [81]:
four_hours = Hour(4)

In [82]:
four_hours

In [83]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [84]:
Hour(2) + Minute(30)

In [85]:
 pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [86]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [87]:
 list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [88]:
ts = pd.Series(np.random.randn(4),
 index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [89]:
ts

2000-01-31   -0.600877
2000-02-29    1.951080
2000-03-31   -0.765259
2000-04-30    0.242861
Freq: M, dtype: float64

In [90]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.600877
2000-04-30    1.951080
Freq: M, dtype: float64

In [91]:
 ts.shift(-2)

2000-01-31   -0.765259
2000-02-29    0.242861
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [92]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -4.247055
2000-03-31   -1.392224
2000-04-30   -1.317358
Freq: M, dtype: float64

In [93]:
ts.shift(2, freq='M')

2000-03-31   -0.600877
2000-04-30    1.951080
2000-05-31   -0.765259
2000-06-30    0.242861
Freq: M, dtype: float64

In [94]:
 ts.shift(3, freq='D')

2000-02-03   -0.600877
2000-03-03    1.951080
2000-04-03   -0.765259
2000-05-03    0.242861
dtype: float64

In [95]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -0.600877
2000-02-29 01:30:00    1.951080
2000-03-31 01:30:00   -0.765259
2000-04-30 01:30:00    0.242861
Freq: M, dtype: float64

In [96]:
from pandas.tseries.offsets import Day, MonthEnd

In [97]:
now = datetime(2011, 11, 17)

In [98]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [99]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [100]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [101]:
offset = MonthEnd()

In [102]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [103]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [105]:
ts = pd.Series(np.random.randn(20),
 index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [106]:
ts

2000-01-15    0.206038
2000-01-19    0.926286
2000-01-23   -1.401605
2000-01-27    0.385277
2000-01-31    0.738655
2000-02-04   -0.090729
2000-02-08    0.792366
2000-02-12    1.111360
2000-02-16   -0.242036
2000-02-20   -1.442133
2000-02-24    1.005871
2000-02-28   -0.154218
2000-03-03   -0.330595
2000-03-07   -0.294625
2000-03-11   -1.823269
2000-03-15   -2.088453
2000-03-19   -0.689360
2000-03-23    0.165017
2000-03-27    0.599304
2000-03-31    0.234809
Freq: 4D, dtype: float64

In [107]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.170930
2000-02-29    0.140069
2000-03-31   -0.528397
dtype: float64

In [108]:
ts.resample('M').mean()

2000-01-31    0.170930
2000-02-29    0.140069
2000-03-31   -0.528397
Freq: M, dtype: float64

In [109]:
import pytz

In [110]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [111]:
tz = pytz.timezone('America/New_York')

In [112]:
tz

In [113]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [114]:
 ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [115]:
ts

2012-03-09 09:30:00    0.991412
2012-03-10 09:30:00    1.599326
2012-03-11 09:30:00   -0.521770
2012-03-12 09:30:00    0.026425
2012-03-13 09:30:00    0.207972
2012-03-14 09:30:00    0.891758
Freq: D, dtype: float64

In [116]:
print(ts.index.tz)

None

In [117]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [118]:
ts

2012-03-09 09:30:00    0.991412
2012-03-10 09:30:00    1.599326
2012-03-11 09:30:00   -0.521770
2012-03-12 09:30:00    0.026425
2012-03-13 09:30:00    0.207972
2012-03-14 09:30:00    0.891758
Freq: D, dtype: float64

In [119]:
ts_utc = ts.tz_localize('UTC')

In [120]:
ts_utc

2012-03-09 09:30:00+00:00    0.991412
2012-03-10 09:30:00+00:00    1.599326
2012-03-11 09:30:00+00:00   -0.521770
2012-03-12 09:30:00+00:00    0.026425
2012-03-13 09:30:00+00:00    0.207972
2012-03-14 09:30:00+00:00    0.891758
Freq: D, dtype: float64

In [121]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [122]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.991412
2012-03-10 04:30:00-05:00    1.599326
2012-03-11 05:30:00-04:00   -0.521770
2012-03-12 05:30:00-04:00    0.026425
2012-03-13 05:30:00-04:00    0.207972
2012-03-14 05:30:00-04:00    0.891758
Freq: D, dtype: float64